* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 10px;
}
.grid-container {
    display: grid;
    grid-template-areas:
        "header header header"
        "menu menu menu"
        "left left middle"
        "footer footer footer";
    grid-template-columns: 2fr 2fr 1fr; 
    grid-template-rows: 100px 50px auto auto; 
    
    padding: 10px;
}
.header {
    grid-area: header;
    background-color: #d78c8c;
    
    
    
}
.header img{
    width: 1269px;
    height: 100px;
    
}
.menu {
    grid-area: menu;
    background-color: #ff66b2;
    padding: 10px;
   
}
.menu a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
}



.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ff66b2;
    min-width: 150px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #ff3385;
}
.dropdown:hover .dropdown-content {
    display: block;
}



.left {
    display: grid;
    grid-area: left;
    background-color: #76c7c0;
    padding: 20px;
    border: 1px solid black;
}

.left img{
    float: left;
    width: 100%;
    max-width: 180px;
    padding: 1px;
    border: 1px solid black;
   
}
.middle {
    grid-area: middle;
    background-color: white;
    padding: 10px;
    
   
}
.middle img {
    border: 1px solid black;
    padding-top: 20px ;
    width: 100%;
    padding: 0px;
    max-width: 200px;
    float: left;
    margin-bottom: 10px;
    
}
.footer {
    grid-area: footer;
    background-color: #b2ff66;
    padding: 10px;
}
.login-button {
    width: 120px;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    padding: 9px;
    background-color: blue;
    color: white;
    cursor: pointer;
    display: flex;
}
.container {
    padding-bottom: 5px;
    float: left;
    
}
hr{
    border: 1px solid black;
    width: 100%;
    margin: 6px;
    
    
}